
.section {
    width: 100%;
    height: 100vh;
}

.page-header {
    width: 100%;
    height: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 4%;
}

.hero {
    background-color: fuchsia
}